@media (max-width: 1200px) {
    .mob-nav {
        position: relative;
        display: inline-block;
    }

    .nav-links{
        display: none;
    }

  .nav-links-mob {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #1c1c1c;
    transition: 0.5s;
    z-index: 10;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    left: 0;
  }

  .nav-links-mob ul,
  .right-end {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .mob-nav:hover .nav-links-mob{
      display: flex;
  }


}

@media (max-width: 600px) {
  /* footer */
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .address {
    margin-bottom: 10px;
  }
  .social-media {
    margin-top: 20px;
  }
  .social-media p {
    font-size: 22px;
  }
  .icons {
    margin-top: 10px;
  }
  .foot {
    font-size: 16px;
  }
}
