/* part1 */

.intro {
  width: 100%;
  padding: 20px 0px;
  background: #222222;
  margin-bottom: 150px;
}
.i-page {
  width: 80%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.intro-part1 {
  flex: 4;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.intro-part1 h1 {
  font-size: 60px;
  color: #3fc7a5;
  font-weight: 600;
  width: 50px;
}

.intro-part1 h1:last-child {
  color: #ffffff;
}

.intro-part1 h5 {
  font-size: 22px;
  color: #95a3b3;
  width: 600px;
  font-weight: 100;
  margin: 50px 0px 50px 0px;
  font-family: "Bubblegum Sans", cursive;
}
.intro-part1 p {
  margin-top: 50px;
  font-size: 30px;
  width: 700px;
  color: #95a3b3;
  text-indent: 50px;
  font-family: "Bubblegum Sans", cursive;
}
.pro-page-link {
  margin-top: 50px;
  border: 5px solid #3fc7a5;
  padding: 8px 25px !important;
  font-size: 30px;
  border-radius: 5px;
  text-align: center;
}
.pro-page-link:hover {
  border: 5px solid #3f3d56;
  background-color: #3f3d56;
  color: #ffffff;
}
.intro-part2 {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}
.intro-part2 img {
  height: 100%;
  width: 600px;
}

/* part2 */
.slide {
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  background-image: url(../Images/Frame\ 84.png);
}
.slide-con {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.slide-con h1 {
  font-size: 60px;
  color: #3fc7a5;
  font-weight: 600;
}
.slide-con h2 {
  text-indent: 170px;
  color: white;
  font-size: 60px;
  font-weight: 600;
}
.slide-con p {
  margin-top: 50px;
  font-size: 30px;
  width: 700px;
  color: #95a3b3;
  font-family: "Bubblegum Sans", cursive;
}

.pro-page2-link {
  margin-top: 50px;
  max-width: 200px;
  border: 5px solid #3fc7a5;
  padding: 8px 25px !important;
  font-size: 30px;
  border-radius: 5px;
  text-align: center;
  font-family: "Bubblegum Sans", cursive;
}
.pro-page2-link:hover {
  border: 5px solid #3f3d56;
  background-color: #3f3d56;
  color: #ffffff;
}

/* part3 */

.subscription {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 50px 0px;
}
.sub-container {
  width: 790px;
  height: 500px;
  background: #84dcc6;
  border-radius: 50px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25),
    inset 10px 10px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sub-container .sub-part1 {
  width: 90%;
}
.sub-container .sub-part1 .h1-part3 {
  font-size: 50px;
  font-weight: 600;
}

.sub-container .sub-part1 h2 {
  font-size: 50px;
  color: #ffffff;
  font-weight: 600;
}
.sub-container .sub-part2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sub-part2-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 4;
}
.sub-part2-a p {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 1px;
  text-indent: 50px;
  color: #222222;
  margin-bottom: 20px;
  font-family: "Bubblegum Sans", cursive;
}
.sub-part2-a-input {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.sub-part2-a-input input {
  padding: 10px 10px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sub-part2-a-input button {
  padding: 10px 50px;
  background: #4b4e6d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 5px 5px 20px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
}
.sub-part2-a-input button:hover {
box-shadow: none;
}

.sub-part2-b {
  flex: 6;
  margin-top: -90px;
}
.sub-part2-b img {
  width: 100%;
  height: auto;
}

/* Part4 */
.S-P {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 50px 0px;
  margin: 50px 0px;
}
.Partners,
.Service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.Partners h1,
.Service h1 {
  font-size: 60px;
  color: #3fc7a5;
  font-weight: 600;
  font-family: "Bubblegum Sans", cursive;
}
.Partners ul {
  width: 70%;
  margin: 40px 0px;
}
.Partners ul li {
  font-size: 25px;
  color: #95a3b3;
  /* font-family: "Bubblegum Sans", cursive; */
}
.Partners ul li:hover {
  color: white;
}
.S-info,
.S-info-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}
.S-info-item {
  justify-content: center;
  border-right: 3px solid white;
  margin-top: 30px;
  padding: 0px 20px;
}
.S-info-item:last-child {
  border: none;
}
.S-info-item i {
  font-size: 30px;
  margin-right: 20px;
  color: #4b4e6d;
}
.S-info-item i:hover {
  color: #3fc7a5;
}

.S-info-item p {
  font-size: 18px;
  color: #ffffff;
  font-family: "Bubblegum Sans", cursive;
}
.S-info-item button {
  outline: none;
  border: 2px solid#4b4e6d;
  background-color: #222222;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  margin-top: 5px;
}
.S-info-item button:hover {
  border: 2px solid #3fc7a5;
}
